/* CONFIGURAÇÕES GERAIS */

body {
    background-color: #f5f3f7;
    color: #333333;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    margin: 0;
}


/* CABEÇALHO */

header {
    background-color: white;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    color: #3c91ca;
    margin: 0;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: #333333;
    text-decoration: none;
}

nav a:hover {
    color: #3c91ca;
}


/* INÍCIO */

.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

    min-height: 500px;

    padding: 60px;
}

.foto img {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    border: 3px solid #3d91cc;
    object-fit: cover;
    object-position: center;
}

.apresentacao {
    max-width: 600px;
}

.saudacao {
    color: #777777;
    font-size: 18px;
}

.apresentacao h1 {
    color: #3c91ca;
    text-align: left;
    font-size: 36px;

    margin: 10px 0;
}

.apresentacao h2 {
    font-size: 24px;
    margin-bottom: 20px;
}


/* BOTÕES */

.botoes {
    display: flex;
    gap: 15px;
    margin-top: 25px;
}

.botao {
    padding: 12px 20px;
    border: 1px solid #3c91ca;
    text-decoration: none;
    border-radius: 5px;
}

.botao-claro {
    color: #3c91ca;
    background-color: white;
    border-radius: 30px;
}

.botao-claro:hover{
    background-color: #c2cdd4;
    text-decoration: none;
    transition: 0.3s;
}

.botao-escuro {
    color: white;
    background-color: #3c91ca;
    border-radius: 30px;
}

.botao-escuro:hover{
    background-color: #8db4cf;
    text-decoration: none;
    transition: 0.3s;
}


/* SEÇÕES */

.secao {
    background-color: white;

    margin: 30px 60px;
    padding: 40px;

    border: 1px solid #dddddd;
    border-radius: 8px;
}

.secao h2 {
    color: #3c91ca;
    font-size: 28px;
    margin-top: 5px;
}

.subtitulo {
    color: #777777;
    margin-bottom: 5px;
}

.texto {
    max-width: 800px;
    line-height: 1.6;
}


/* CARTÕES */

.cartoes {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.cartao {
    width: 300px;

    padding: 25px;

    background-color: #f5f3f7;

    border: 1px solid #dddddd;
    border-radius: 8px;
}

.cartao h3 {
    color: #3c91ca;
}

.cartao p {
    margin: 8px 0;
}


/* LISTA */

.cartao ul {
    padding-left: 20px;
}

.cartao li {
    margin-bottom: 8px;
}


/* TABELA */

.titulo-tabela {
    color: #3c91ca;
    margin-top: 40px;
}

table {
    width: 100%;

    margin-top: 20px;

    border-collapse: collapse;
}

th,
td {
    border: 1px solid #cccccc;

    padding: 12px;

    text-align: left;
}

th {
    background-color: #3c91ca;
    color: white;
}


/* PROJETOS */

.cartao a {
    color: #3c91ca;
    text-decoration: none;
}

.cartao a:hover {
    text-decoration: underline;
}


/* CONTATOS */

.contatos {
    display: flex;
    gap: 20px;

    margin: 20px 0;
}

.contatos a {
    color: #3c91ca;
}


/* FORMULÁRIO */

form {
    width: 500px;

    margin-top: 30px;
    padding: 25px;

    border: 1px solid #cccccc;
    border-radius: 8px;

    background-color: #f5f3f7;
}

form label {
    display: block;

    margin-top: 15px;
    margin-bottom: 5px;

    font-weight: bold;
}

form input,
form select,
form textarea {
    width: 100%;

    padding: 10px;

    border: 1px solid #cccccc;
    border-radius: 5px;

    font-family: Arial, sans-serif;
    font-size: 15px;

    box-sizing: border-box;
}

form textarea {
    height: 120px;

    resize: vertical;
}

form button {
    margin-top: 20px;

    padding: 12px 25px;

    background-color: #3c91ca;
    color: white;

    border: 1px solid #3c91ca;
    border-radius: 30px;
    

    font-size: 16px;

    cursor: pointer;
}

form button :hover{
    background-color: #3c91ca;
}